{{#each  towns as |town|}}
  {{log town}}
  <section data-id="{{town.id}}">
    <hr>
    <h5>Id: {{town.id}}</h5>
    <p>Town Name: {{town.name}}</p>
    <p>Town Fruit: {{town.town_fruit}}</p>
    <p>Mayor: {{town.mayor}}</p>
  </section>
  <br>
  <hr>
{{/each}}
