{{#each  towns as |town|}}
  <section data-id="{{town.id}}">
    <h5>Id: {{town.id}}</h5>
    <h6>{{town.name}}</h6>
    <p>
      <h6>Town Fruit:</h6>
      {{town.town_fruit}}
    </p>
    <p>
    <h6>Mayor:</h6>
    {{town.mayor}}
    </p>
  </section>
  <hr>
{{/each}}
